@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
html {
  scroll-behavior: smooth;
}
select::-webkit-scrollbar {
  width: 8px;
}
select::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 4px;
}
select::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}
.Poppins-font {
   font-family: 'Poppins', 'Roboto', 'Open Sans', sans-serif;
  font-weight: 600; /* Semi-bold */
}
.fontFamily{
  font-family: 'Lato', sans-serif;
}
.yellowtaill {
      font-family: Yellowtail, "Yellowtail Fallback";
}
@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slideLeft {
  animation: slideLeft 0.4s ease;
}
